@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f8f9ff;
    color: #403b56;
}

/* Login Page */

.login-page {
    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background:
        radial-gradient(
            circle at top left,
            #e7e1ff 0%,
            transparent 35%
        ),
        radial-gradient(
            circle at bottom right,
            #dff4ff 0%,
            transparent 35%
        ),
        #f8f9ff;

    padding: 20px;
}

/* Login Card */

.login-card {
    width: 420px;

    background: rgba(255, 255, 255, 0.95);

    backdrop-filter: blur(20px);

    padding: 45px;

    border-radius: 25px;

    border: 1px solid #e8e2f5;

    box-shadow:
        0 20px 50px rgba(110, 88, 160, 0.12);
}

/* Heading */

.login-card h1 {
    text-align: center;

    color: #7c5ce6;

    margin-bottom: 12px;
}

/* Description */

.login-card p {
    text-align: center;

    color: #77718a;

    margin-bottom: 30px;
}

/* Input */

.login-card input {
    width: 100%;

    padding: 16px;

    margin-bottom: 20px;

    background: #f5f7ff;

    border: 1px solid #e3def2;

    outline: none;

    border-radius: 12px;

    color: #403b56;

    font-size: 15px;

    transition: 0.3s;
}

/* Input Focus */

.login-card input:focus {
    border-color: #b9a7f5;

    background: #ffffff;

    box-shadow:
        0 0 0 3px rgba(167, 139, 250, 0.12);
}

/* Placeholder */

.login-card input::placeholder {
    color: #aaa5b8;
}

/* Button */

.login-card button {
    width: 100%;

    padding: 16px;

    border: none;

    border-radius: 12px;

    background:
        linear-gradient(
            90deg,
            #a78bfa,
            #8b7cf6
        );

    color: white;

    font-size: 16px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

/* Button Hover */

.login-card button:hover {
    transform: translateY(-3px);

    background:
        linear-gradient(
            90deg,
            #9275ed,
            #7767e8
        );

    box-shadow:
        0 10px 25px rgba(139, 124, 246, 0.25);
}

/* Bottom Text */

.bottom-text {
    margin-top: 25px;

    text-align: center;

    color: #77718a;
}

/* Signup Link */

.bottom-text a {
    margin-left: 8px;

    color: #8065df;

    text-decoration: none;

    font-weight: 600;
}

.bottom-text a:hover {
    color: #6748c7;
}

/* Back Home */

.back-home {
    display: block;

    text-align: center;

    margin-top: 25px;

    text-decoration: none;

    color: #8065df;

    transition: 0.3s;
}

.back-home:hover {
    color: #6748c7;
}